[[inputs.jti_openconfig_telemetry]]
  servers = [ {% for item in junos %}"{{item.ip}}:{{item.openconfig_port}}" {% if not loop.last %}, {%endif%}{% endfor %}]
  username = "jcluser"
  password = "Juniper!1"
  client_id = "telegraf"
  sample_frequency = "2000ms"
  sensors = ["/network-instances/network-instance/protocols/protocol/bgp/"]
  retry_delay = "1000ms"
  str_as_tags = false

[[outputs.influxdb]]
      urls = ["http://influxdb:8086"]
      database = "juniper"
      timeout = "5s"
      username = "juniper"
      password = "juniper"
